!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Shibboleth Simulator: Login
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    #header
      %h1 Login
      %h2 Please Choose A User
    #content
      %p
        %a{:href => "/?shibsim_user=1"} Pete Birkinshaw at University of Manchester
    #footer
      %p
        All content copyright © Pete

