#ggl_navbar
  %ul
    %li Web
    %li Images
    %li Videos
    %li Maps
    %li News
    %li Shopping
    %li Mail
    %li more ▼
		
%img{:id =>"ggl_logo", :src => "#{assets_base}/images/search_logo"}

#ggl_search_box
  %form#ggl_search{:method => "post"}
    %label{:for => "q"}
    %input#q
    %input#btnG{:type => 'submit', :value => "Shibkitoogle Search"}
    %input#btnI{:type => 'submit', :value => "I'm Feeling Lucky"}

#results{:style => "display: none;"}
  %h3
    %a{:href => "/"} Your Lovely Project
  .s 
    = Time.new.to_s
    %b ...
    Project being developed using Shibkit to provide Shibboleth simulation, blah, blah
    %p
      %a{:href => "/"} Your Lovely Project


%ggl_footer
  %ul
    %li Shibkit Simulator from Digital Identity Labs