:plain
  ### Operating Environment Information                                                                                                                                                             
  operating_system: Linux                                                                                                                                                                           
  operating_system_version: 2.6.20.10-0.8-default                                                                                                                                                   
  operating_system_architecture: amd64                                                                                                                                                              
  jdk_version: 1.6.0_22                                                                                                                                                                             
  available_cores: 4                                                                                                                                                                                
  used_memory: 2383MB                                                                                                                                                                               
  maximum_memory: 2383MB                                                                                                                                                                            
  current_time: #{time_now.to_s}                                                                                                                                                               
                                                                                                                                                                                                  
  ### Identity Provider Information                                                                                                                                                                 
  idp_version: 2.1.5                                                                                                                                                                                
  idp_start_time: #{start_time.to_s}                                                                                                                                                              
  attribute_resolver_valid: true

  ### Relying Party Configurations                                                                                                                                                                  
  relying_party_id: anonymous                                                                                                                                                                       
  idp_entity_id: #{entity_id}                                                                                                                                           
  default_authentication_method: none                                                                                                                                                               
  default_signing_tls_key:

  relying_party_id: default                                                                                                                                                                         
  idp_entity_id: #{entity_id}                                                                                                                                           
  default_authentication_method: none                                                                                                                                                               
  default_signing_tls_key:
