
%table
- directory.accounts.values.each do |account|
  %row
    %td
      %a{:href => directory.user_record_path(account.id)}
        =account.attributes['cn']
        =account.id
        



#information_box
  %p
    Find people in
    %a{:href => "directory_url_here"} #{directory.display_name}
  %p

