
%img#wayf_logo

%p Please select your home organisation

%form#wayf_selector{:method => "post"}


  %h2 Suggestions
    

  %h2 Enter Organisation Name
  %input#dynamic_search

  %h2 Or Choose From List
  
  %select#origin_selector{:name => "origin"}
    - idps.each do |idp|
      %option{:value => idp.id}
        = idp.display_name
        
  %input#submit{:type => 'submit', :value => "Select"}
    
  %h2 Options
  #remember
    %input{:type => "radio", :id => "remember_never",   :name => "remember", :check => true}
    %label{:for  => "remember_never"}Do not remember
    %input{:type => "radio", :id => "remember_session", :name => "remember"}
    %label{:for  => "remember_session"}Remember for this session
    %input{:type => "radio", :id => "remember_year",    :name => "remember"}
    %label{:for  => "remember_year"}Remember for this year

  #wayf_footer
    %ul
      %li Shibkit Simulator from Digital Identity Labs
