### Operating Environment Information                                                                                                                                
operating_system: Linux                                                                                                                                              
operating_system_version: 2.6.32.13-0.4-default                                                                                                                      
operating_system_architecture: amd64                                                                                                                                 
jdk_version: 1.6.0_20                                                                                                                                                
available_cores: 8                                                                                                                                                   
used_memory: 2383MB                                                                                                                                                  
maximum_memory: 2383MB                                                                                                                                               
current_time: 2010-09-26T20:22:32Z                                                                                                                                   
                                                                                                                                                                     
### Identity Provider Information                                                                                                                                    
idp_version: 2.1.5                                                                                                                                                   
idp_start_time: 2010-09-25T10:13:52Z                                                                                                                                 
attribute_resolver_valid: true                                                                                                                                       
                                                                                                                                                                     
### Relying Party Configurations