!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title=page_title
    %meta{"http-equiv" => "Content-Type", :content => content_type}
    %link{"rel" => "stylesheet", "href" => "/shibsim/stylesheet.css", "type" => "text/css"}
  %body{:class => "idp"}
    #header
      %h1
        = page_title
    #content
      = content_html
    #footer
      %p