!!! XML
%md:EntityDescriptor{ :"xmlns:md" => "urn:oasis:names:tc:SAML:2.0:metadata", :entityID => sp_service.uri }
  %md:SPSSODescriptor{ :protocolSupportEnumeration => sp_service.protocols.join(' ') }
    %md:Extensions
      %DiscoveryResponse{ :xmlns => "urn:oasis:names:tc:SAML:profiles:SSO:idp-discovery-protocol",  :Location => sp_service.ds_url, :index => "1" }

    %md:AssertionConsumerService{ :Binding => "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST",     :Location => sp_service.sso_url, :index => "1" }
    %md:AssertionConsumerService{ :Binding => "urn:oasis:names:tc:SAML:1.0:profiles:browser-post",  :Location => sp_service.sso_url, :index => "5" }