
body {
 background-color: #eee;	
}

#browser_error_message {
	margin: 50px;
	border: 1px solid #999;
	color: black;
	background-color: #fff;
	padding-top: 10px;
	padding-left: 80px;
	padding-right: 50px;
	padding-bottom: 50px;
	background-image: url('images/alert');
	background-repeat:no-repeat;
	background-position: 15px 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#browser_error_message h1 {
	margin: 0px;
	padding: 0px;
  border-bottom: 1px solid #999;	
}

#footer {
	text-align: center;
}

#content {
	background-color: white;
}

#login_box {
	border: 2px solid black;
	width: 350px;
	height: 300px;
	float: right;
	background-color: lightblue;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

form#login {
	padding: 10px;
	margin: 5px;
}

form#login label {
	clear: both;
	align: left;
	display: block;
}

form#login input {
	clear: both;
	align: left;
	display: block;
}

form#login input#submit {
	width: 100px;
}

#information_box {
	float: left;
	
}