!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title Shibboleth Simulator: Login
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    #header
      %h1 Shibboleth Simulator - Dev Login
      %h2 Please Select A User
      - if message
        %h3= message 
    #content
      %ul
        - organisations.each_pair do |organisation, users|
          %li
            %p
              = organisation
              %ul
                - users.each do |user|
                  %li
                    %a{:href => "#{idp_path}?shibsim_user=#{user['id']}"}= user['shibsim_label']
    #footer
      %p
        Shibboleth Simulator is produced by Digital Identity Labs

